@model int
@{
    Layout = null;
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogge blog</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<div class="error-page">
    <div>
        @{
            switch (Model)
            {
                case 500:
                    // Use the text block below to separate html elements from code
                    <h1 data-h1="500">500</h1>
                    <p data-p="SERVER ERROR">SERVER ERROR</p>
                    break; // Always break each case
                case 401:
                    <h1 data-h1="401">401</h1>
                    <p data-p="UNAUTHORIZED">UNAUTHORIZED</p>
                    break;
                case 403:
                    <h1 data-h1="403">403</h1>
                    <p data-p="FORBIDDEN">FORBIDDEN</p>
                    break;
                case 404:
                    <h1 data-h1="404">404</h1>
                    <p data-p="NOT FOUND">NOT FOUND</p>
                    break;
                default:
                    <h1 data-h1="400">400</h1>
                    <p data-p="BAD REQUEST">BAD REQUEST</p>
                    break;
            }
        }
    </div>
</div>
<div id="particles-js"></div>


<script>

    particlesJS("particles-js", {
        particles: {
            number: {
                value: 5,
                density: {
                    enable: true,
                    value_area: 800
                }
            },
            color: {
                value: "#fcfcfc"
            },
            shape: {
                type: "circle"
            },
            opacity: {
                value: 0.5,
                random: true,
                anim: {
                    enable: false,
                    speed: 1,
                    opacity_min: 0.2,
                    sync: false
                }
            },
            size: {
                value: 140,
                random: false,
                anim: {
                    enable: true,
                    speed: 10,
                    size_min: 40,
                    sync: false
                }
            },
            line_linked: {
                enable: false
            },
            move: {
                enable: true,
                speed: 8,
                direction: "none",
                random: false,
                straight: false,
                out_mode: "out",
                bounce: false,
                attract: {
                    enable: false,
                    rotateX: 600,
                    rotateY: 1200
                }
            }
        },
        interactivity: {
            detect_on: "canvas",
            events: {
                onhover: {
                    enable: false
                },
                onclick: {
                    enable: false
                },
                resize: true
            }
        },
        retina_detect: true
    });

</script>