
<h2>Profile</h2>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @Html.ActionLink("Change your password", "ChangePassword", new { @class = "btn btn-primary", style = "color:white" })
            ]
        <dt>Avatar:</dt>
        <dd>
            [
            @Html.ActionLink("Change your avatar", "ChangeAvatar", new { @class = "btn btn-primary", style = "color:white" })
            ]
    </dl>
</div>
